<h2>Comunicación entre Componentes en Angular</h2>
<p>
  En Angular, un componente puede comunicarse con otros a través de:
</p>
<ul>
  <li><strong>Input():</strong> Permite que un componente hijo reciba datos desde el componente padre.</li>
  <li><strong>Output():</strong> Permite que el hijo emita eventos al componente padre.</li>
</ul>
<h3>Ejemplos prácticos:</h3>
<ul class="list-unstyled">
  <li class="mb-2">
    <a routerLink="input" class="btn btn-outline-primary">Ejemplo con Input()</a>
  </li>
  <li class="mb-2">
    <a routerLink="output" class="btn btn-outline-success">Ejemplo con Output()</a>
  </li>
  <li class="mb-2">
    <a routerLink="input-output" class="btn btn-outline-success">Ejemplo con Input() + Output()</a>
  </li>
</ul>
<router-outlet></router-outlet>
